<% content_for :index_content do %>
    <div class="hero-image">
        <%= image_tag("hero_image.jpg") %> 
    </div>
    <div class="hero-menu">
        <div class="menu">
            <h2>Find your Dream Home</h2>
            <a href="/homes/show">Start Your Home Search</a>
        </div>
    </div>
       
    <div class="middle-content row align-items-start">
         <h3>Featured Communities</h3>
            <% @homes.each do |home| %>
                <div class="featured col border border-secondary rounded">
                <img class="ind_img" src="<%=home.img%>"></img>
                    <p><%= home.community %></p>
                    <p><a href="/homes/show">Visit this community</a></p>
                </div>
            <%end%>
       
    </div>
        
    <div class="bottom-content">
        <p>TESTTTTTTTT</p>
    </div>
        
    <footer class="footer">
        <p>FOOTER TEST</p>
    </footer>

<%end%>

